@{
    ViewData["Title"] = "Cadastro";
}

@model ControleFacil.Models.Usuario

<div class="login-wrapper d-flex w-100 vh-100">
    <div class="img-login"></div>

    <form onsubmit="return AdicionarUsuario(event)" class="container-login text-center d-flex flex-column justify-content-center align-items-center gap-4">

        <h1 class="title-login">Não possui Conta?</h1>

        <div class="position-relative">
            <i class="bi bi-person input-icon position-absolute"></i>
            <input id="nome" class="input-login fw-bold w-100 position-relative" placeholder="Nome" type="text" />
        </div>

        <div class="position-relative">
            <i class="bi bi-envelope input-icon position-absolute"></i>
            <input id="email" class="input-login fw-bold w-100 position-relative" placeholder="Email" type="email" />
        </div>

        <div class="position-relative">
            <i class="bi bi-lock input-icon position-absolute"></i>
            <input id="senha" class="input-login fw-bold w-100 position-relative" placeholder="Senha" type="password" />
        </div>

        <div class="position-relative">
            <i class="bi bi-lock input-icon position-absolute"></i>
            <input id="confirmarSenha" class="input-login fw-bold w-100 position-relative" placeholder="Confirmar Senha" type="password" />
        </div>

        <a asp-action="Index" class="option-login text-decoration-none d-block mt-2">
            <span class="hover-underline position-relative d-inline-block">Já possui conta?</span><br />
            <span class="hover-underline position-relative d-inline-block">Conecte-se agora mesmo!</span>
        </a>

        <button type="submit" class="btn-login fw-bold mt-3 border-0">Cadastrar</button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}