@{
    ViewData["Title"] = "Nova Senha";
}

<div class="login-wrapper d-flex w-100 vh-100">
    <div class="img-login"></div>

    <form onsubmit="return SalvarNovaSenha(event)" class="container-login text-center d-flex flex-column justify-content-center align-items-center gap-4">
        <input type="hidden" name="token" value="@ViewData["Token"]" />

        <h1 class="title-login">Nova Senha</h1>

        <p class="paragraph-login">Coloque sua nova senha e a confirme</p>

        <div class="position-relative">
            <i class="bi bi-lock input-icon position-absolute"></i>
            <input id="senha" class="input-login fw-bold w-100 position-relative" placeholder="Senha" type="password" />
        </div>

        <div class="position-relative">
            <i class="bi bi-lock input-icon position-absolute"></i>
            <input id="confirmarSenha" class="input-login fw-bold w-100 position-relative" placeholder="Confirmar Senha" type="password" />
        </div>

        <button type="submit" class="btn-login fw-bold mt-3 border-0">Confirmar</button>
    </form>
</div>