@{
    ViewData["Title"] = "Nova Senha";
}

<div class="d-flex">
    <div class="img-login"></div>
    <form asp-action="SalvarNovaSenha" method="post" class="d-flex align-items-center justify-content-center text-center flex-column container-login gap-4">
        <input type="hidden" name="token" value="@ViewData["Token"]" />
        <h1 class="title-login fw-normal">Nova Senha</h1>
        <p class="paragraph-login fw-normal">Coloque sua nova senha e a confirme</p>
        <input name="novaSenha" class="input-login border-0 fw-bold" placeholder="Senha" type="password" required />
        <input name="confirmarSenha" class="input-login border-0 fw-bold" placeholder="Confirmar Senha" type="password" required />
        <button type="submit" class="btn-login text-center border-0 fw-bold">Confirmar</button>
    </form>
</div>